.container {
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  cursor: pointer;
  transition: .2s;
  width: 100%;
  padding: 10px;
  background: #7886a0;
  color: #fff;
  border-radius: 12px;
  font-weight: bold;
  @media (max-width: 539px) {
    font-size: 14px;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  &:hover {
    &:not(:disabled) {
      background: #606d85;
    }
  }
  &:active {
    &:not(:disabled) {
      background: #505663;
    }
  }
  &_small {
    width: fit-content;
    font-size: 14px;
  }
  &_green {
    background: #4fb3b3;
    color: #fff;
    &:hover {
      &:not(:disabled) {
        background: #3b8b8b;
      }
    }
    &:active {
      &:not(:disabled) {
        background: #2c7070;
      }
    }
  }
}
